
<b><%= find_user(@reciever.id).name %></b><br>
<%= flash[:notice] %><br>
<%= form_for :message , url:  user_messages_path(@reciever) do |f| %>
               
           <%= f.text_field :content ,:size => 20, :placeholder => "Type your message here" %>
            <%#= f.label :image ,"Upload image" %>  <%= f.submit "Send" ,:id =>"comment",:class => "button"  %>
            <br>
            <%= f.file_field :image %> 
         
 <% end %>
<% if @all_old_messages.present? %><br>
   <% @all_old_messages.each do |msg| %>
    <br>
    <div class="comment_content">
         <% if msg.user_id == current_user.id %>
              <font color="green">You  </font>
               : <%= msg.content %> 
                 <%= link_to ' Delete ', user_message_path(@reciever,msg),:class => "links", method: :delete,
              data: { confirm: 'Are you sure?' } %>
        <% else %>
              <font color="3366FF">
                <%= find_user( msg.user_id ).name %>
              </font>
                 : <%= msg.content %> 
         <% end %>
   
   </div>

        <% if msg.image.present? %>
            <center> <%= cl_image_tag( msg.image, :width => 170, :height => 200, :crop => :fill) %> </center>
       <% end %>
 
       <font size=2% color="red"> sent at <%= msg.created_at.to_date %></font>
       <br>

   <% end %>
<% else %>
 <br><br>
  <center> You have not any conversion with <%= find_user(@reciever.id).name %> yet.</center>
<%end%>
