<p> 
<%= form_for :search_users , url: search_people_path , method: :post do |f| %>
	<%= f.text_field :users ,:size => 12,:placeholder => "Search person by name"%>
	<%= f.submit "Search" ,:class=>"button"%>
<% end %> 
</p>


<center> <font color= "brown"> People you may know </font></center>
<br><br>
<font color= "green"><%= flash[:notice] %></font>
<br>
<% if @find_friends.count != 0 %>
<table border="1">
<% @find_friends.each do |friend| %>
<tr>
	<td>
	 <%= friend.name %>
	</td>
	 <td> 
		  	<%= link_to 'View Profile' , profile_path(friend.id) ,:class => "links"%>
	</td>
	<td>
		    <%= link_to "Send request", send_request_path(@user,friend),:class => "links"  %>
	</td>
</tr>
<% end %>
</table>
<% else %>
There is not any new person at this app <br>
<% end %>
<br>
