
	Friend requests<font color = 'green'> <%= @request.count %></font><br><br>
	<%= flash[:notice] %>
	<% if @request.count != 0 %>
		<table border='1'>
			<tr>
				  <th> Request From </th>
				   <th> View Profile </th>
				  <th> Accept </th>
				  <th> Reject </th>
				  <th> Block  </th>
			</tr>
			<% @request.each do |req| %>
				<tr>
					<td>
					  <%= req.user.name %>
					</td>
					 <td> 
		  				<%= link_to 'View' , profile_path(req.user_id) ,:class => "links"%>
		 			 </td>
					<td>
					  <%= link_to 'Accept' , accept_request_path(current_user,req)%>
					</td>
					<td>
					 <%= link_to 'Reject' , reject_request_path(current_user,req),data: { confirm: 'you want to reject request ?' }%>
					</td>
					<td>
					  <%= link_to 'Block', block_path(current_user,req),data: { confirm: 'Are you sure you want to block this person ?' }%>
					</td>
				</tr>
			<% end %>
		</table><br><br>
	<% else %>
       <br> No Friend Request <br>
    <% end %>