
<center>
<%= flash[:warning]%>
<table  bordercolor=brown, border=1>
  <tr><td>
  Post by : <font color="green"><b><%= @article.user.name %></b></font><br>
    <%= @article.about %><br>
   <center> <%= image_tag @article.image , :size => "100x150" %> </center>
 </td></tr>
  <tr><td>  
  <%= form_for :like , url: article_likes_path(@article) do |f| %>
   <%= f.hidden_field :user_id , :value => current_user.id , :readonly =>true %>
    <% if @Current_total_like == 0 %>
      <%= f.submit "Like" , :class => "button" %>
    <% else %>
      <%= f.submit "Unike" , :class => "button" %>
    <% end %>  
      <font color="660033"><%= pluralize(@likes.count, "Like") %></font>
   <%= link_to 'Show' , article_likes_path(@article), :class => "links" %>
  <% end %>
 </td></tr>
  <tr><td>
  <font color="660033"> <%= pluralize(@comments.count, "Comment") %></font><br>
  <%= render @article.comments %>
 </td></tr>
  <tr><td>
    <%#= render 'shared/error_messages' %>
     <%= form_for([@article, @article.comments.build]) do |f| %>
         
     <%= f.hidden_field :Commenter , :value => current_user.id , :readonly =>true %>
     <%= f.text_field :comment ,:size => 15, :placeholder => "Comment here" %><br>
  
    <%= f.submit "comment" ,:class => "button"  %>

    <% end %>
  </td></tr>
</table>
 </center>