<center>
<table border="1" bordercolor="green" width=50% style="margin-top:10%">
 <tr>
    <td>
    <center>
      <h3><font color="green"><u>Resend confirmation instructions</u></font></h3>      
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %><p> <font color="red">
        <%= devise_error_messages! %>
         </font></p>
         <p>
          <div class="field">
             <%= f.label :email %><br />
             <%= f.email_field :email, autofocus: true %>
          </div>
          </p>
          <p>
          
           <div class="actions">
              <%= f.submit "Resend confirmation instructions" , :class => 'button' %>
           </div>
         </p>
          <% end %>
    </center>

    </td>
  </tr>
  </table>

</center>