
<%= form_for Article.new, url: user_articles_path(current_user.id) do |f| %>
 <font color=red><%= flash[:warning] %></font>
  <p>
  <%= f.text_area :about,:align => 'center',:cols => 40 ,:placeholder => " Share your views with people" %><br>
    <%#= f.label :image ,"Upload image" %>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit  "Post" , :class => "button" %>
  </p>
  <% end %>