
<center>
<h1><font color="blue">Add Event </font></h1>

<%= form_for :article, url: user_articles_path do |f| %>
 <font color=red><%= flash[:warning] %></font>

  <p>
    <%= f.label :title , "Event Title" %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text , "About Event" %><br>
    <%= f.text_area :text %>
  </p>

   <p>
    <%= f.label :date , "Date of Event" %><br>
    <%#= f.date_select :date%>
    <%= f.text_field :date,:size => '20%',:readonly => 'true' ,:class =>'datepicker' %>
  </p>


  <p>
    <%= f.label :image ,"Upload image" %><br>
    <%= f.file_field :image %>
  </p>

 
  <p>
    <%= f.submit  "Add Event" , :class => "button" %>
  </p>

  <% end %>
<%= link_to 'Back', :back ,:class => "links"  %><br>

</center>



<script>

 $(document).ready(function(){
    $('.datepicker').datepicker({format: 'yyyy-mm-dd' , startDate: '+0d',
        autoclose: true});
  });
</script>