
<center>
<h1><font color="blue">Share Post </font></h1>

<%= form_for :article, url: user_articles_path do |f| %>
<font color=red><%= flash[:warning] %></font>
  <p>
  <%= f.text_area :about,:align => 'center',:size => 20 ,:placeholder => "share with your friends Whats in your mind ?" %><br><br>
    <%= f.label :image ,"Upload image" %><br><br>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit  "Post" , :class => "button" %>
  </p>
  <% end %>
</center>
