<% if @group.present? %>
	<font color = red><b> <%= flash[:notice] %> </b></font>
	<h3> all Groups </h3> 
	<table border= "1" bordercolor="brown">
		<tr>
			<th> Group Name </th>
			<th> Created by </th>
			<th> Show group </th>
			<th> Edit Name </th>
			<th> Delete </th>
		</tr>
		<% @group.each do |group| %>
				<tr>
					<td> <%= group.name %> </td>
					<td> <%= find_user(group.admin).name %></td>
					<td> <%= link_to 'Show' , user_group_path(@user,group) , :class => "links" %>  </td>
					<td> <%= link_to 'Edit' ,  edit_user_group_path(@user,group) , :class => "links" %>  </td>
					<td> <%= link_to 'Delete' ,  user_group_path(@user,group), :class => "links", method: :delete,data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>				
		<% end %>
	</table>
<% else %>
	 <br> _________________________________________________________</br><br>
		You have not created any group
	 <br> _________________________________________________________</br>
<% end %>