
<center>
<h3>List of all users </h3>
 
<table bordercolor=brown border=1>
  <tr >
    <th> User Id</th>
    <th> Name </th>
    <th> E-Mail </th>
    <th> User Type </th>
    <th> Dob (YYYY/MM/DD) </th>
    <th> Delete </th>
   
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %> </td>
      <td><%= user.role %> </td>
      <td><%= user.dob %> </td>
      <td><%= link_to ' Delete ' , deleteuser_path(current_user,user), method: :delete %></td>
      
    </tr>
  <% end %>
</table>
<br>
<br>
<%= link_to 'home' , root_path(@user) %>
