



<div id="feeds" style = "border:1px solid brown; width: 100%;">
    <% @article.each do |article| %>
    <br>
      <font color="green"><b><%= article.user.name %></b></font><br><br>
         <div class="comment_content"> <%= article.about %></div><br>
         <center> <%#= image_tag article.image , :size => "120x150" %> 
                <%= cl_image_tag( article.image, :width => 200, :height => 240, :crop => :fill) %>
         </center><br>
         <div id="likes_<%=article.id%>">
             <%= render :partial => 'likes/like_count', :locals=> {:articlee => article}%>
         </div>  <br>
              <%#= render article.comments %>
        <div id = "comments_<%= article.id %>">
              <%= render :partial => 'comments/comments_count', :locals=> {:article => article ,:comments => article.comments}%>
         </div>
         ________________________________________________ <br><br>         
       
     <% end %>
 </div>

